.background-image {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: -1;
    opacity: 1;
    transition: opacity $transition-duration ease-in-out;

    &.show {
      display: block;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;

      .stroke {
        fill: none;
        stroke: #bbb;
        animation: offset 3s linear forwards;
        stroke-width: 3;
      }
    }

    .background-1 {

      .stroke {
        stroke-dasharray: 3345;
        stroke-dashoffset: 3345;
      }

    }

    .background-2 {

      .stroke {
        stroke-dasharray: 3600;
        stroke-dashoffset: 3600;
      }

    }

    .background-3 {

      .stroke {
        stroke-dasharray: 4300;
        stroke-dashoffset: 4300;
      }

    }

    .background-4 {

      .stroke {
        stroke-dasharray: 4600;
        stroke-dashoffset: 4600;
      }

    }

    .background-5 {

      .stroke {
        stroke-dasharray: 3345;
        stroke-dashoffset: 3345;
      }

    }

    .background-6 {

      .stroke {
        stroke-dasharray: 6640;
        stroke-dashoffset: 6640;
      }

    }
}
