$overlay-duration: $transition-duration * 0.5;

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  opacity: 0;
  transition: opacity $overlay-duration ease-in-out;

  &.fade-in {
    opacity: 1;
  }

  &.show {
    z-index: 2;
  }
}

//Overrides for Photoswipe's default-skin.css styles for the image gallery
.pswp__counter,
.pswp__caption__center {
  font-size: 12px;
  font-family: $sans-serif;
}

.pswp__caption__center {
  text-align: center;
}
