@keyframes research-page-fade-in {
    0% {
      background-color: none;
    }
    100% {
      background-color: $theme-3;
    }
}

@keyframes research-menu-fade-in {
  0% {
    background-color: $theme-3;
  }
  100% {
    background-color: none;
  }
}

.research-methods-theme {

  .panel {
    background-color: $theme-3;
  }

  .dot-nav li a i {
    color: $theme-3;
  }

  .last-name {
    color: $theme-3;
  }

  .previous-tile {
    background-color: $theme-2-hex;
  }

  .next-tile {
    background-color: $theme-4-hex;
  }

  .previous-overlay {
    background-color: rgb(245, 95, 92);
  }

  .next-overlay {
    background-color: rgb(237, 174, 73);
  }

  .artifacts-button {
    transition: background-color $button-duration ease-in-out, color $button-duration ease-in-out;
    border: 2px solid $theme-3;
    background-color: #fff;
    color: $theme-3;
  }

  .artifacts-button:hover {
    background-color: $theme-3;
    color: $font-color-light;
  }

  //Animations for full page
  &.full.full-loaded {

    header {
        animation: research-page-fade-in $transition-duration ease-in forwards;
    }

    .show-menu {
      animation: research-menu-fade-in $header-duration ease-in-out forwards;
    }
  }
}
