@keyframes visual-page-fade-in {
    0% {
      background-color: none;
    }
    100% {
      background-color: $theme-4;
    }
}

@keyframes visual-menu-fade-in {
  0% {
    background-color: $theme-4;
  }
  100% {
    background-color: none;
  }
}

.visual-designs-theme {

  .panel {
    background-color: $theme-4;
  }

  .dot-nav li a i {
    color: $theme-4;
  }

  .last-name {
    color: $theme-4;
  }

  .previous-tile {
    background-color: $theme-3-hex;
  }

  .next-tile {
    background-color: $theme-5-hex;
  }

  .previous-overlay {
    background-color: rgb(39, 48, 67);
  }

  .next-overlay {
    background-color: rgb(89, 60, 132);
  }

  .artifacts-button {
    transition: background-color $button-duration ease-in-out, color $button-duration ease-in-out;
    border: 2px solid $theme-4;
    background-color: #fff;
    color: $theme-4;
  }

  .artifacts-button:hover {
    background-color: $theme-4;
    color: $font-color-light;
  }

  //Animations for full page
  &.full.full-loaded {

    header {
        animation: visual-page-fade-in $transition-duration ease-in forwards;
    }

    .show-menu {
      animation: menu-fade-in $header-duration ease-in-out forwards;
    }
  }
}
