@import '../styles/base/variables';

mat-toolbar {
  position: fixed;
  background-color: transparent;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  width: 100vw;
  text-align: center;
  z-index: 1;

  a:hover {
  text-decoration: none;
}

.header-icon-wrapper {
    position: absolute;
    left: -60px;
    top: 0;
    transition: left $header-duration ease-in-out;

    .toggle-back, .toggle-nav {
      display: inline-block;
      padding: 0 10px;
    }
}

.header-icon {
  width: 44px;
  height: 60px;

  &:hover {
    cursor: pointer;
  }

  &.menu {

    .line {
      opacity: 1;
      transition: transform $header-duration ease-in-out, opacity $header-duration ease-in-out;
    }

    .line-1, .line-3 {
      transform-origin: 0;
    }

  }

  &.menu:hover {

    .line-1 {
      transform: translateY(-1px);
    }

    .line-3 {
      transform: translateY(1px);
    }
  }

  &.back {
      transition: transform $arrow-duration ease-in;
  }

  &.back:hover {
    transform: translateX(-5px);
  }

}

  .first-name {
    flex-basis: 50vw;
    text-align: right;
    margin-right: 5px;
    color: #fff;
  }

  .last-name {
    flex-basis: 50vw;
    text-align: left;
    margin-left: 5px;
    transition: color $transition-duration ease-in-out;
  }
}

.home-theme .last-name {
  color: $home-theme;
}

.information-architecture-theme .last-name {
  color: $information-architecture-theme;
}

.research-methods-theme .last-name {
  color: $research-methods-theme;
}

.visual-designs-theme .last-name {
  color: $visual-designs-theme;
}

.project-management-theme .last-name {
  color: $project-management-theme;
}

.development-theme .last-name {
  color: $development-theme;
}
