@import '../styles/base/variables';

mat-toolbar {
  position: fixed;
  background-color: transparent;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  width: 100vw;
  text-align: center;
  z-index: 1;

  .first-name {
    flex-basis: 50vw;
    text-align: right;
    margin-right: 5px;
    color: #fff;
  }

  .last-name {
    flex-basis: 50vw;
    text-align: left;
    margin-left: 5px;
  }
}

.home-theme .last-name {
  color: $home-theme;
}

.information-architecture-theme .last-name {
  color: $information-architecture-theme;
}

.research-methods-theme .last-name {
  color: $research-methods-theme;
}

.visual-designs-theme .last-name {
  color: $visual-designs-theme;
}

.project-management-theme .last-name {
  color: $project-management-theme;
}

.development-theme .last-name {
  color: $development-theme;
}
