$home-theme: #5595b1;
$information-architecture-theme: #f5807f; // TODO find color contrast
$research-methods-theme: #535a68;
$visual-designs-theme: #f0bd75; // TODO find color contrast
$project-management-theme: #79659b;
$front-end-development-theme: #78cdbf; // TODO find color contrast


mat-toolbar {
  position: fixed;
  background-color: transparent;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  width: 100vw;
  text-align: center;
  z-index: 1;

  .first-name {
    flex-basis: 50vw;
    text-align: right;
    margin-right: 5px;
    color: #fff;
  }

  .last-name {
    flex-basis: 50vw;
    text-align: left;
    margin-left: 5px;
  }
}

.panel {
  width: 50vw;
  height: 100vh;
  opacity: 0.8;

  .content {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #fff;
  }
}

.home-theme {
  .panel {
    background-color: $home-theme;
  }
  .last-name {
    color: $home-theme;
  }
}
