$home-theme: #5595b1;
$information-architecture-theme: #f5807f; // TODO find color contrast
$research-methods-theme: #535a68;
$visual-designs-theme: #f0bd75; // TODO find color contrast
$project-management-theme: #79659b;
$development-theme: #78cdbf; // TODO find color contrast
