$text-duration: $transition-duration * 0.5;

@keyframes offset {
    100% {
      stroke-dashoffset: 0;
    }
}

@keyframes text-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.full {

  .panel {
    width: 100vw;
    position: relative;
  }

  .dot-nav, .background-image {
    opacity: 0;
  }

  header {

    .last-name{
      color: $font-color-light;
      transition: color 0.6s ease-in-out 0.6s;
    }
  }

  &.full-loading {

    .content-wrapper .text-wrapper {
      animation: text-fade-out $text-duration ease-out forwards;
    }

  }

  &.full-loaded {

    overflow: auto;

    .site-wrap {
      height: auto;
    }

    .header-icon-wrapper {
      left: 0;
    }

    .content-wrapper .text-wrapper {
      animation: text-fade-in $text-duration ease-in forwards;
      text-align: center;
      max-width: 60%;
      margin: 0 auto;
      visibility: visible;
    }
  }
}

.half {

  .panel {
    width: 50vw;
    position: absolute;
  }

  &.half-loading {

    .content-wrapper .text-wrapper {
      animation: text-fade-out $text-duration ease-out forwards;
      text-align: center;
      max-width: 60%;
      margin: 0 auto;
    }
  }

  &.half-loaded {

    .site-wrap {
      height: 100vh;
    }

    .content-wrapper .text-wrapper {
      animation: text-fade-in $text-duration ease-in forwards;
      margin: 0 10%;
      visibility: visible;
    }
  }
}
